/* CSS */

/* ==========================================================================
   base
   ========================================================================== */
/* html {
    font-size: 14px;
    line-height: 1em;
}

body {
    width: 100%;
    font-family: "NotoSansCJKjp", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
} */
.textArea{
	/* display: none; */
}
.inner {
    max-width: 960px;
    margin: 0 auto;
}
.sp_only{
	display: block;
}

/* ==========================================================================
   Links
   ========================================================================== */
a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
a:focus {
    outline: thin dotted;
}
a:active {
    outline: 0;
}
a:hover {
    /* outline: 0; */
    /* opacity: 0.7; */
    transition: all 0.3s ease-out;
}
a.disabled{
    pointer-events: none;
}
/* ==========================================================================
   ClearFix
   ========================================================================== */
.cf:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.cf {
  min-height: 1px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
.flex-start {
    -moz-box-pack:start;
    -ms-box-pack:start;
    box-pack:start;
    flex-pack:start;
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
    align-self: flex-start;
}
.flex-end {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
            -ms-flex-pack: end;
}
.center {
  -webkit-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
}
.space-between {
  -webkit-justify-content: space-between;
          justify-content: space-between;
            -ms-flex-pack: space-between;
}
.space-around {
  -webkit-justify-content: space-around;
          justify-content: space-around;
            -ms-flex-pack: space-around;
}

/* ==========================================================================
   btn
   ========================================================================== */
.wrap-btn {
    text-align: center;
}
.wrap-btn a.type_01 {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ff8029;
    color: #ff8029;
    text-align: center;
    letter-spacing: 3px;
    width: 300px;
    margin: 30px 0;
    padding: 4px 0;
    font-weight: bold;
}
.wrap-btn a.type_02 {
    color: #ff8029;
    font-weight: bold;
}
.wrap-btn a.type_03 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    padding: 10px 0;
    width: 550px;
    margin: 60px auto 0;
}
.wrap-btn.list {
    margin: 0 auto 85px;
}
.wrap-btn.list a {
    display: block;
    text-align: center;
    margin: 0 auto 30px;
}
.wrap-btn.col_3.type_04 {
    width:90%;
    margin: 0 auto 50px;
}
.wrap-btn.col_3.type_04 a {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    color: #FFF;
    background: #ff8029;
    border-radius: 3px;
    padding: 10px 0;
    font-weight: bold;
}
.wrap-btn.col_3.type_04 a:last-child {
    margin: 0 0 2% 0;
}
.wrap-btn.col_3.type_04 a span {
    position: relative;
}
.wrap-btn.col_3.type_04 a span::before {
    content: "";
    display: block;
    background-color: #FFF;
    background-image: url(../images/arrow_4.svg);
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 0 auto 0.5rem auto;
    transform: rotate(0deg);
    transition: all linear .2s;
    width: 22px;
    height: 22px;
    background-position: 7px center;
    background-size: 10px auto;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%) translateX(0%);
}

.wrap-btn.col_1 a {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    color: #FFF;
}

.wrap-btn.col_1.type_05 a {
    background: #7fb21e;
    border-radius: 3px;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
}
.wrap-btn.col_1.type_05 a span {
    /* position: relative; */
    display: inline-block;
    width: 8.5em;
    text-align: left;
}
.wrap-btn.col_1.type_05 a span::before {
    /* content: "";
    display: block;
    background-color: #FFF;
    background-image: url(../images/arrow_4.svg);
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 0 auto 0.5rem auto;
    transform: rotate(0deg);
    transition: all linear .2s;
    width: 22px;
    height: 22px;
    background-position: 7px center;
    background-size: 10px auto;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%) translateX(0%); */
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: auto 20px;
    border-radius: 100%;
    vertical-align: middle;
    background-image: url(../images/arrow_6.png);
}
.wrap-btn.col_1.type_06 a {
    max-width: 608px;
    display: block;
    background: #6f8068;
    color: #FFF;
    padding: 3px 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}
.wrap-btn.col_1.type_06 a::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 0.75rem;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: auto 20px;
    border-radius: 100%;
    vertical-align: middle;
    background-image: url(../images/arrow_7.png);
}
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#page-top a:before {
    width: 52px;
    height: 52px;
    background-position: 14px center;
    background-size: 25px auto;
    content: "";
    display: block;
    background-color: #ff8029;
    background-image: url(../images/arrow_1.svg);
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 0 auto 0 auto;
    transform: rotate(-90deg);
    transition: all linear .2s;
}

/* ==========================================================================
   top slider
   ========================================================================== */

.slider-wrap {
    display: block;
    position: relative;
}
.slider-wrap .slider-01 {
    display: block;
    background: url("../images/slider/sp_slider_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:calc(100vh - 75px);
}
.slider-wrap .slider-02 {
    display: block;
    background: url("../images/slider/sp_slider_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 500px; */
    /* padding-top: 151.09375%; */
    background-position: center;
    height:calc(100vh - 75px);
    /* height:0; */
}
.slider-wrap .slider-03 {
    display: block;
    background: url("../images/slider/sp_slider_03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 500px; */
    /* padding-top: 151.09375%; */
    background-position: center;
    height:calc(100vh - 75px);
    /* height:0; */
}
.slider-wrap .slider-04 {
    display: block;
    background: url("../images/slider/sp_slider_04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 500px; */
    /* padding-top: 151.09375%; */
    background-position: center;
    height:calc(100vh - 75px);
    /* height:0; */
}
.slider-wrap .slider-05 {
    display: block;
    background: url("../images/slider/sp_slider_05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 500px; */
    /* padding-top: 151.09375%; */
    background-position: center;
    height:calc(100vh - 75px);
    /* height:0; */
}
.wrap-slider-ttlimg {
    margin: 50px 0 0 0;
}
.area_mv .wrap-slider-ttlimg img {
    width: 75%;
    margin: 0 auto;
}
.slider-wrap .wrap-scroll_bar {
    position: absolute;
    top:0;
    left:50%;
    transform: translateY(0%) translateX(-50%);
    -webkit- transform: translateY(0%) translateX(-50%);
    z-index: 100;
    /* padding-top: 155%; */
    padding-top: 72vh;
    color: #FFF;
}
.slider-wrap .wrap-scroll_bar p {
    text-shadow: 1px 1px 1px #999999;
}
.slider-wrap .wrap-scroll_bar .box {
    width: 16px;
    height: 32px;
    background: #FFF;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 1px #999999;
}
.slider-wrap .sp_scroll_bar {
    /* width:100%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
    transform: translateY(0%) translateX(50%);
    -webkit- transform: translateY(0%) translateX(50%);
    z-index: 100;

    padding-top: 92vh; */
}
.slider-wrap .sp_scroll_bar .scroll-arrow{
    /* position: relative;
    display: inline-block;
    padding-left: 20px; */
}
.slider-wrap .sp_scroll_bar .scroll-arrow:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 2px #ff8029;
    border-right: solid 2px #ff8029;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4px;
    z-index: 100;

    line-height: 1;
    display: block;
    -moz-animation: anime1 2s ease 0s infinite normal;
    -webkit-animation: anime1 2s ease 0s infinite normal;
    -o-animation: anime1 2s ease 0s infinite normal;
    -ms-animation: anime1 2s ease 0s infinite normal;
    animation: anime1 2s ease 0s infinite normal;
}
@-moz-keyframes anime1 {
    0% {
        transform: translateY(0) rotate(135deg);
    }
    100% {
        transform: translateY(20px) rotate(135deg);
    }
}
@-webkit-keyframes anime1 {
    0% {
        transform: translateY(0) rotate(135deg);
    }
    100% {
        transform: translateY(20px) rotate(135deg);
    }
}
@-o-keyframes anime1 {
    0% {
        transform: translateY(0) rotate(135deg);
    }
    100% {
        transform: translateY(20px) rotate(135deg);
    }
}
@-ms-keyframes anime1 {
    0% {
        transform: translateY(0) rotate(135deg);
    }
    100% {
        transform: translateY(20px) rotate(135deg);
    }
}
/* ==========================================================================
   under common
   ========================================================================== */
.mb30 {
    margin-bottom: 30px;
}
.mb50 {
    margin-bottom: 35px;
}
.color_ora {
    color: #ff8029;
}
.wrap-img {
    text-align: center;
}
.wrap-content {
    padding: 15px 0;
	overflow: hidden;
}
.wrap-content .inner {
    width: 95%;
    margin: 0 auto;
}
.wrap-content h2 {
    width: 90%;
    text-align: center;
    margin: 0 auto 35px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid #a0a0a1;
    position: relative;
}
.wrap-content h2 .line {
    position: absolute;
    bottom: -2px;
    border-bottom: 2px solid #ff8029;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
    width: 235px;
}
.catlist{
	margin: 0 0 5px;
}
.wrap-content h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0;
}
.wrap-content .textStyle{
	margin: 0 0 30px;
}
.wrap-content .textStyle .wrap{
	overflow: hidden;
}
.wrap-content .textStyle h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
	float: left;
	width: 110px;
}
.wrap-content .textStyle p{
	margin: 0 0 10px;
	float: left;
}
.wrap-content .textStyle ul{
	overflow: hidden;
	margin: 0 0 5px;
}
.wrap-content .textStyle li{
	float: left;
	margin-right: 10px;
	padding: 10px 0 10px;
	font-size: .9em;
}
.wrap-content .textStyle span{
	padding: 5px 8px;
	letter-spacing: 2px;
	color: #fff;
}
.wrap-content .textStyle span.kanri{
	background: #4D6808;
}
.wrap-content .textStyle span.koji{
	background: #001FAF;
}
.wrap-content .textStyle span.seiso{
	background: #C8006B;
}
.wrap-content h3.img span {
    position: relative;
    letter-spacing: 1px;
}
.wrap-content h3.img span::after {
	content: '';
    position: absolute;
	width: 40px;
    height: 24px;
    background-image: url(../images/company/h_right_logo.png);
    background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
    top: 0;
    right: -42px;
}
.wrap-content h3.img span::before {
	content: '';
	position: absolute;
	width: 40px;
    height: 24px;
    background-image: url(../images/company/h_left_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
    top: -3px;
    left: -48px;
}
.wrap-content h3.img.sp_line02 span::after {
	content: '';
    position: absolute;
	width: 40px;
    height: 24px;
    background-image: url(../images/company/h_right_logo.png);
    background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
    top: 14px;
    right: -66px;
}
.wrap-content h3.img.sp_line02 span::before {
	content: '';
	position: absolute;
	width: 40px;
    height: 24px;
    background-image: url(../images/company/h_left_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
    top: 12px;
    left: -50px;
}
.wrap-content h3.img.line_2{
	display: block;
}
.wrap-content h3.img.line_2 span::after {
    content: '';
    position: absolute;
	width: 40px;
    height: 24px;
    background-image: url(../images/company/h_right_logo.png);
    background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
    top: 10px;
    right: 20px;
	display: none;
}
.wrap-content h3.img.line_2 span::before {
    content: '';
	position: absolute;
	width: 40px;
    height: 24px;
    background-image: url(../images/company/h_left_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
    top: 8px;
    left: 20px;
	display: none;
}
.wrap-content h3.img.line_3 span::after {
    position: absolute;
    content:url("../images/company/h_right_logo.png");
    top: 18px;
    right: -100px;
	display: none;
}
.wrap-content h3.img.line_3 span::before {
    position: absolute;
    content:url("../images/company/h_left_logo.png");
    top: 11px;
    left: -160px;
	display: none;
}
.wrap-content h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 10px 0;
}
.garden .wrap-content h4,.test-garden .wrap-content h4{
	font-size: 16px;
	margin: 0 0 2px 0;
}
.wrap-content .wrap-text {
    line-height: 1.7em;
    margin: 0 0 30px 0;
}
.table_type_01 {
}
.table_type_01 th {
    box-sizing: border-box;
    border: 1px solid #a0a0a1;
	background:#F1F1F1;
    padding: 8px 15px;
    text-align: left;
	border-bottom: none;
	display: block;
    width: 100%;
}
.table_type_01 td {
    box-sizing: border-box;
    border: 1px solid #a0a0a1;
    padding: 8px 15px;
	display: block;
    width: 100%;
	border-bottom: none;
}
.table_type_01 .last td:last-child {
    border-bottom: solid 1px #a0a0a1;
  }
.wrap-link {
    width: 375px;
    margin: 0 auto 65px;
}
.wrap-link li {
    text-align: left;
    margin: 0 0 10px 0;
}
.wrap-link li a {
    color: #ff8029;
    margin: 0 0 5px 0;
    display: block;
    font-weight: bold;
}

.table_type_02 {
    width: 100%;
	font-size: .9em;
}
.table_type_02 tr {
}
.table_type_02 th {
    width: 38%;
    position: relative;
    box-sizing: border-box;
    padding: 15px 0px 15px 48px;
    vertical-align: middle;
    text-align: left;
}
.table_type_02 th.required::before {
    position: absolute;
    top:50%;
    left:0;
    content:"必須";
    background: #FF0000;
    padding: 2px 4px;
    color: #FFF;
    transform: translateY(-50%) translateX(0%);
}
.table_type_02 th.required.top {
    vertical-align: top;
    padding: 23px 0 15px 48px;
}
.table_type_02 th.required.top::before {
    position: absolute;
    top:10%;
}
.table_type_02 td {
    width: 60%;
    box-sizing: border-box;
    padding: 15px 0 15px 15px;
}
.table_type_02 td input[type="text"],.table_type_02 td input[type="email"],.table_type_02 td input[type="tel"] {
    width: 100%;
    border-radius: 5px;
    background: #DFDFDF;
    padding: 10px;
}
.table_type_02 td label {
    padding: 0 10px 0 0;
}
.table_type_02 td label input[type="radio"],
.table_type_02 td label input[type="checkbox"] {
    margin: 0 10px 0 0;
}
.table_type_02 td textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #DFDFDF;
    resize: none;
    min-height: 300px;
}



/* ==========================================================================
    company
   ========================================================================== */
.company .wrap-table .table_type_01,
.test-company .wrap-table .table_type_01,
.testcompany .wrap-table .table_type_01 {
    margin: 0 0 75px 0;
}
.company .wrap-content .inner,
.test-company .wrap-content .inner,
.testcompany .wrap-content .inner,
.history .wrap-content .inner,
.service .wrap-content .inner {
    width: 95%;
    margin: 0 auto;
	overflow: hidden;
}


/* ==========================================================================
    garden
   ========================================================================== */
.garden .wrap-content .inner,.test-garden .wrap-content .inner {
    width: 95%;
    margin: 0 auto;
}
.garden .wrap-content h2 .line,.test-garden .wrap-content h2 .line {
    width: 500px;
}
.garden .wrap-img-content .inner,.test-garden .wrap-img-content .inner {
    width: 95%;
	overflow: hidden;
    margin: 0 auto;
}
.garden .wrap-img-content,.test-garden .wrap-img-content {
    margin: 0 0 40px 0;
}
.garden .wrap-content .wrap-text,.test-garden .wrap-content .wrap-text {
    margin: 0 0 0 0;
}
.wrap-img-content .box {
    float: left;
}
.wrap-img-content .box:nth-child(odd) {
    width: 49%;
    margin: 0 2% 15px 0;
}
.wrap-img-content .box:nth-child(even) {
    width: 49%;
    margin: 0 0 15px 0;
}
.wrap-img-content .wrap-img {
    margin: 0 0 15px 0;
}
.garden .wrap-root .inner,.test-garden .wrap-root .inner {
    width: 95%;
}
.wrap-root h4 {
    color: #ff8029;
    position: relative;
	margin-bottom: 15px!important;
}
.wrap-root h4 .line {
    position: absolute;
    width: 50%;
    height: 1px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(0%);
    -webkit- transform: translateY(-50%) translateX(0%);
    background: #ff8029;
}
.wrap-root .wrap-root_content .box {
    /*float: left;
    width: 28%;
    margin: 0 8% 65px 0;
    position: relative;*/
	margin: 0 0 20px;
}
.wrap-root .wrap-root_content .box:nth-child(3n) {
    /*float: left;
    width: 28%;
    margin: 0 0 65px 0;*/
}
/*.wrap-root .wrap-root_content .box:not(:nth-child(3n))::after {
    content: "";
    display: block;
    background-color: #ff8029;
    background-image: url(../images/arrow_1.svg);
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 0 auto 0.5rem auto;
    transform: rotate(0deg);
    transition: all linear .2s;
    width: 27px;
    height: 27px;
    background-position: 8px center;
    background-size: 12px auto;
    position: absolute;
    top: 60%;
    right: -19%;
    transform: translateY(-60%) translateX(0%);
}*/
.wrap-root .wrap-root_content .box .ttl {
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    font-weight: bold;
}
.wrap-root .wrap-root_content .box .text {
}

/* ==========================================================================
    business
   ========================================================================== */

.business .wrap-content .area_section_service h3 {
    text-align: left;
}

.business .wrap-content .wrap-text {
    margin: 0 0 20px 0;
    font-size: 14px;
}

.business .wrap-content .wrap-img {
    margin: 0 0 20px 0;
}

.bussiness_last *[class*="area_section"]{
	margin-bottom: 0;
}

/* ==========================================================================
    estate
   ========================================================================== */

.estate .wrap-bg_img.type_01 {
    width: 100%;
    min-height: 200px;
    display: block;
    background: url("../images/estate/img_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 40px 0;
}
.estate .wrap-content .inner {
    width: 95%;
    margin: 0 auto;
	overflow: hidden;
}
.estate .wrap-content .wrap-text {
    margin: 0 0 25px 0;
}


/* ==========================================================================
    life
   ========================================================================== */
.life .wrap-content {
    line-height: 1.3em;
}
.life .wrap-content .inner {
    width: 95%;
    margin: 0 auto;
}
.life .wrap-content h2 {
    font-size: 47px;
    width: auto;
    margin: 0 auto 30px;
    border: none;
}
.life .wrap-content #sec_03 h2 {
    margin: 0 0 80px 0;
}
.life .wrap-content h3 {
    line-height: 1.5em;
}
.life .wrap-content .ttl_img {
    display: block;
    margin: 0 auto 45px;
}
.life .wrap-content #sec_01 .wrap-text,
.life .wrap-content #sec_03 .wrap-text {
    position: relative;
}
.life .wrap-content #sec_01 .wrap-text .circle {
    position:  absolute;
    top:0;
    left: 30px;
    width: 120px;
    padding: 46.5px 0;
    color: #FFF;
    background: #ff8029;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
}
.life .wrap-content #sec_03 .wrap-text .circle {
    position:  absolute;
    top:0;
    left: 30px;
    width: 120px;
    padding: 46.5px 0;
    color: #FFF;
    background: #00683d;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
}
.life .wrap-content #sec_01 .wrap-text:first-child {
    border-bottom: 1px solid #5e5d5c;
    padding: 0 0 30px 0;
}
.life .wrap-content #sec_01 .left,
.life .wrap-content #sec_08 .left {
    float: left;
    width: 48%;
    margin: 0 4% 0 0;
}
.life .wrap-content #sec_01 .right,
.life .wrap-content #sec_08 .right {
    float: right;
    width: 48%;
    margin: 0 0 0 0;
}
.life .wrap-content #sec_01 .left .ttl,
.life .wrap-content #sec_01 .right .ttl,
.life .wrap-content #sec_08 .left .ttl,
.life .wrap-content #sec_08 .right .ttl {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.life .wrap-content #sec_01 .left .ttl span,
.life .wrap-content #sec_01 .right .ttl span,
.life .wrap-content #sec_08 .left .ttl span,
.life .wrap-content #sec_08 .right .ttl span {
    font-size: 14px;
}
.life #sec_01{
	margin: 0 0 50px;
}
.life .wrap-content #sec_02 .inner {
}
.life .wrap-content #sec_02 .box {
    margin: 0 0 50px 0;
    color: #FFF;
}
.life .wrap-content #sec_02 .box:nth-child(1) .left {
    background: #d76672;
}
.life .wrap-content #sec_02 .box:nth-child(2) .left {
    background: #5bafc1;
}
.life .wrap-content #sec_02 .box:nth-child(3) .left {
    background: #921039;
}
.life .wrap-content #sec_02 .box:nth-child(4) .left {
    background: #a98059;
}
.life .wrap-content #sec_02 .box:nth-child(5) .left {
    background: #ba8e9b;
}
.life .wrap-content #sec_02 .box.img_r .left {
    position: relative;
}
.life .wrap-content #sec_02 .box.img_r .left .number_img,
.life .wrap-content #sec_02 .box.img_l .left .number_img {
    position: absolute;
    top: -15px;
    left: 15px;
	width: 50px;
}
.life .wrap-content #sec_02 .box.img_l .left {
	position: relative;
}
.life .wrap-content #sec_02 h4 {
    font-size: 20px;
    margin: 0 0 10px 0;
}
.life .wrap-content #sec_02 h4 {

}
.life .wrap-content #sec_02 .wrap-text {
	margin: 0;
	padding: 30px 15px 10px;
}
.life .back_01 {
    background: url("../images/life/img_12.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 44.53125%;
    height:0;
    margin: 0 0 30px 0;
}
.life .wrap-content #sec_03 .map {
    width: 95%;
    margin: 0 auto 30px;
}
.life .wrap-content #sec_04,
.life .wrap-content #sec_05,
.life .wrap-content #sec_06 {
    line-height: 1.7em;
	margin: 0 0 40px;
}
.life .wrap-content #sec_04 .img_box,
.life .wrap-content #sec_05 .img_box {
	width: 95%;
	margin: 20px auto 0;
}
.life .wrap-content #sec_06 .img_box.img_top {
}
.life .wrap-content #sec_06 .inner{
	margin: 0 0 20px;
}
.life .wrap-content #sec_04 .left,
.life .wrap-content #sec_05 .left,
.life .wrap-content #sec_06 .left {
}
.life .wrap-content #sec_04 .left .wrap-img {
    background: url("../images/life/img_15.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .wrap-content #sec_04 .right,
.life .wrap-content #sec_05 .right,
.life .wrap-content #sec_06 .right {
}
.life .wrap-content #sec_04 .right .wrap-img {
    background: url("../images/life/img_16.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .wrap-content #sec_04 .wrap-text {
    margin: 0 0 20px;
}
.life .wrap-content #sec_04 .wrap-text p {
}

.life .wrap-content #sec_05 .left .wrap-img {
    background: url("../images/life/img_17.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .wrap-content #sec_05 .right .wrap-img {
    background: url("../images/life/img_18.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}

.life .wrap-content #sec_06 .img_top .left .wrap-img {
    background: url("../images/life/img_19.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .wrap-content #sec_06 .img_top .right .wrap-img {
    background: url("../images/life/img_20.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .wrap-content #sec_06 .img_bottom .left .wrap-img {
    background: url("../images/life/img_21.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .wrap-content #sec_06 .img_bottom .right .wrap-img {
    background: url("../images/life/img_22.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.life .life_access {
    background: #6f8068;
    padding: 30px 0;
    color: #FFF;
    line-height: 1.7em;
}
.life .life_access .access_map {
    margin: 20px auto 0;
}
.life .wrap-content #sec_08 .inner {
	width: 100%;
    margin: 30px auto 0;
}

/* ==========================================================================
    life
   ========================================================================== */
.test-life .wrap-content {
    line-height: 1.3em;
}
.test-life .wrap-content .inner {
    width: 95%;
    margin: 0 auto;
}
.test-life .wrap-content h2 {
    font-size: 47px;
    width: auto;
    margin: 0 auto 30px;
    border: none;
}
.test-life .wrap-content #sec_03 h2 {
    margin: 0 0 80px 0;
}
.test-life .wrap-content h3 {
    line-height: 1.5em;
}
.test-life .wrap-content .ttl_img {
    display: block;
    margin: 0 auto 45px;
}
.test-life .wrap-content #sec_01 .wrap-text,
.test-life .wrap-content #sec_03 .wrap-text {
    position: relative;
}
.test-life .wrap-content #sec_01 .wrap-text .circle {
    position:  absolute;
    top:0;
    left: 30px;
    width: 120px;
    padding: 46.5px 0;
    color: #FFF;
    background: #ff8029;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
}
.test-life .wrap-content #sec_03 .wrap-text .circle {
    position:  absolute;
    top:0;
    left: 30px;
    width: 120px;
    padding: 46.5px 0;
    color: #FFF;
    background: #00683d;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
}
.test-life .wrap-content #sec_01 .wrap-text:first-child {
    border-bottom: 1px solid #5e5d5c;
    padding: 0 0 30px 0;
}
.test-life .wrap-content #sec_01 .left,
.test-life .wrap-content #sec_08 .left {
    float: left;
    width: 48%;
    margin: 0 4% 0 0;
}
.test-life .wrap-content #sec_01 .right,
.test-life .wrap-content #sec_08 .right {
    float: right;
    width: 48%;
    margin: 0 0 0 0;
}
.test-life .wrap-content #sec_01 .left .ttl,
.test-life .wrap-content #sec_01 .right .ttl,
.test-life .wrap-content #sec_08 .left .ttl,
.test-life .wrap-content #sec_08 .right .ttl {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.test-life .wrap-content #sec_01 .left .ttl span,
.test-life .wrap-content #sec_01 .right .ttl span,
.test-life .wrap-content #sec_08 .left .ttl span,
.test-life .wrap-content #sec_08 .right .ttl span {
    font-size: 14px;
}
.test-life #sec_01{
	margin: 0 0 50px;
}
.test-life .wrap-content #sec_02 .inner {
}
.test-life .wrap-content #sec_02 .box {
    margin: 0 0 50px 0;
    color: #FFF;
}
.test-life .wrap-content #sec_02 .box:nth-child(1) .left {
    background: #d76672;
}
.test-life .wrap-content #sec_02 .box:nth-child(2) .left {
    background: #5bafc1;
}
.test-life .wrap-content #sec_02 .box:nth-child(3) .left {
    background: #921039;
}
.test-life .wrap-content #sec_02 .box:nth-child(4) .left {
    background: #a98059;
}
.test-life .wrap-content #sec_02 .box:nth-child(5) .left {
    background: #ba8e9b;
}
.test-life .wrap-content #sec_02 .box.img_r .left {
    position: relative;
}
.test-life .wrap-content #sec_02 .box.img_r .left .number_img,
.test-life .wrap-content #sec_02 .box.img_l .left .number_img {
    position: absolute;
    top: -15px;
    left: 15px;
	width: 50px;
}
.test-life .wrap-content #sec_02 .box.img_l .left {
	position: relative;
}
.test-life .wrap-content #sec_02 h4 {
    font-size: 20px;
    margin: 0 0 10px 0;
}
.test-life .wrap-content #sec_02 h4 {

}
.test-life .wrap-content #sec_02 .wrap-text {
	margin: 0;
	padding: 30px 15px 10px;
}
.test-life .back_01 {
    background: url("../images/life/img_12.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 44.53125%;
    height:0;
    margin: 0 0 30px 0;
}
.test-life .wrap-content #sec_03 .map {
    width: 95%;
    margin: 0 auto 30px;
}
.test-life .wrap-content #sec_04,
.test-life .wrap-content #sec_05,
.test-life .wrap-content #sec_06 {
    line-height: 1.7em;
	margin: 0 0 40px;
}
.test-life .wrap-content #sec_04 .img_box,
.test-life .wrap-content #sec_05 .img_box {
	width: 95%;
	margin: 20px auto 0;
}
.test-life .wrap-content #sec_06 .img_box.img_top {
}
.test-life .wrap-content #sec_06 .inner{
	margin: 0 0 20px;
}
.test-life .wrap-content #sec_04 .left,
.test-life .wrap-content #sec_05 .left,
.test-life .wrap-content #sec_06 .left {
}
.test-life .wrap-content #sec_04 .left .wrap-img {
    background: url("../images/life/img_15.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .wrap-content #sec_04 .right,
.test-life .wrap-content #sec_05 .right,
.test-life .wrap-content #sec_06 .right {
}
.test-life .wrap-content #sec_04 .right .wrap-img {
    background: url("../images/life/img_16.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .wrap-content #sec_04 .wrap-text {
    margin: 0 0 20px;
}
.test-life .wrap-content #sec_04 .wrap-text p {
}

.test-life .wrap-content #sec_05 .left .wrap-img {
    background: url("../images/life/img_17.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .wrap-content #sec_05 .right .wrap-img {
    background: url("../images/life/img_18.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}

.test-life .wrap-content #sec_06 .img_top .left .wrap-img {
    background: url("../images/life/img_19.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .wrap-content #sec_06 .img_top .right .wrap-img {
    background: url("../images/life/img_20.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .wrap-content #sec_06 .img_bottom .left .wrap-img {
    background: url("../images/life/img_21.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .wrap-content #sec_06 .img_bottom .right .wrap-img {
    background: url("../images/life/img_22.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53.738318%;
    height:0;
}
.test-life .life_access {
    background: #6f8068;
    padding: 30px 0;
    color: #FFF;
    line-height: 1.7em;
}
.test-life .life_access .access_map {
    margin: 20px auto 0;
}
.test-life .wrap-content #sec_08 .inner {
	width: 100%;
    margin: 30px auto 0;
}



#sec_08{
	width: 95%;
	margin: 0 auto;
}
/* ==========================================================================
    contact
   ========================================================================== */
.wrap-tel {
    line-height: 2em;
    margin: 0 0 40px 0;
}
.wrap-tel .tel {
    font-size: 1.2em;
}
.wrap-tel .tel span {
    font-size: 1.6em;
    font-weight: bold;
}
.wrap-contact .wpcf7-radio span.wpcf7-list-item {
	display: block!important;
}
.shop_detail{
	margin-bottom: 15px;
}
.mt_p{
	margin-top: 15px;
}
/* ==========================================================================
    adopt
   ========================================================================== */

.wrap-adopt_contact {
    border: 1px solid #ff8029;
    border-radius: 3px;
    margin: 0 0 50px 0;
}
.wrap-adopt_contact .inner {
    width: 95%;
    margin: 20px auto;
}
.wrap-adopt_contact .ttl span {
    color: #ff8029;
    font-weight: bold;
}
.wrap-adopt_contact .inner > .ttl {
    margin: 0 0 10px 0;
}
.wrap-adopt_contact .left {
    margin: 0 0 10px 0;
}
.wrap-adopt_contact .left .ttl,
.wrap-adopt_contact .right .ttl {
    color: #FFF;
    background: #ff8029;
    font-size: 0.8em;
    padding: 2px 5px;
    margin: 0 10px 0 0;
    border-radius: 3px;
}
.wrap-adopt_contact .left .txt,
.wrap-adopt_contact .right .txt {
    font-size: 1.4em;
    letter-spacing: 2px;
}
.wrap-adopt_contact .left .time,
.wrap-adopt_contact .right .time {
    font-size: 0.8em;
    color: #5f5f5f;
	display: block;
}
.wrap-adopt_contact .right {
}

.wrap-adopt_member {

}
.wrap-adopt_member .box {
	margin: 0 0 20px;
}
.wrap-adopt_member .box a {
    display: block;
    height: 172px;
	overflow: hidden;
}
.wrap-adopt_member .box:nth-child(2n) {
}
.wrap-adopt_member .box .left,
.wrap-adopt_member .box .right {
    float: left;
    width: 50%;
}
.wrap-adopt_member .box {

}
.wrap-adopt_member .box .left {
    width: 50%;
    background: #EA6C00;
    max-width: 250px;
    padding:30px 0;
    color: #FFF;
    position: relative;
}
.wrap-adopt_member .box .left .detail_inner {
    border-left: 5px solid #5A5738;
    padding: 5px 0 5px 10px;
}
.wrap-adopt_member .box .left.detail .job {
    font-size: 14px;
    padding-bottom: 5px;
}
.wrap-adopt_member .box .left.detail .name {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    line-height: 1.3;
}
.wrap-adopt_member .box .left.detail .name span {
    padding-top: 4px;
    font-size: 16px;
    display: block;
    letter-spacing: 0;
}
.wrap-adopt_member .box .left.detail .year {
    font-size: 14px;
    font-weight: bold;
}
.wrap-adopt_member .box .left.detail::before {
    /* content:"";
    position: absolute; */
    content: '';
    background: url(../img/right.svg) center center no-repeat #5A5738;
    background-size: 7px auto;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: #5A5738;
}
.wrap-adopt_member .box .right {
    width: 50%;
    max-width: 300px;
}
.wrap-adopt_member .box .right .wrap-img  {
    overflow: hidden;
    width: 228px;/* トリミングしたい枠の幅 */
    height: 209px;/* トリミングしたい枠の高さ */
    position: relative;
}
.wrap-adopt_member .box .right img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

/* ==========================================================================
    facility
   ========================================================================== */
.facility_content .box{
	margin: 0 0 30px;
}
.facility_content .wrap-img{
	margin: 0 auto 15px;
}
.facility_content .wrap-icon{
	margin: 0 0 10px;
}
.facility_content .wrap-txt ul{
	margin: 10px 0 0;
}
.facility_content .box .wrap-txt h4 span {
    color: #6775B9;
}
.facility .wrap-btn{
	text-align: center;
}
.facility .wrap-btn a{
	margin: 0 auto 30px;
}
/* ==========================================================================
    shop
   ========================================================================== */
.shop_detail .left{
	margin: 0 0 10px;
}
.shop_detail .right{
	margin: 0 0 20px;
}
.wrap-map {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.wrap-map iframe,
.wrap-map object,
.wrap-map embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* ==========================================================================
    privacy
   ========================================================================== */
.privacy .box{
	margin: 15px 0 0;
}
.privacy .wrap-privacy{
	margin: 0 0 30px;
}


.serivice_inner ul{
	list-style: disc;
	margin: 0 0 20px 25px;
}


.in_head {
	margin-bottom: 35px;
	position: relative;
}
 .in_head img {
	background: #aaa;
}
 .in_head .detail {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 40px 0;
	background: #EA6C00;
	width: 450px;
}

@media screen and (max-width: 768px) {
 .in_head .detail {
	position: static;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 100%;
	padding: 30px 0;
}
}

@media screen and (max-width: 640px) {
 .in_head .detail {
	padding: 20px 0;
}
}
 .in_head .detail .detail_inner {
	border-left: 7px solid #333333;
	padding: 5px 0 5px 20px;
}
 .in_head .detail .detail_inner p {
	color: #fff;
	font-weight: bold;
	letter-spacing: 0;
}
 .in_head .detail .detail_inner p.first {
	font-size: 18px;
	padding-bottom: 22px;
}
 .in_head .detail .detail_inner p.title {
	font-size: 21.5px;
	padding-bottom: 27px;
	letter-spacing: -0.02em;
}
 .in_head .detail .detail_inner p.belong {
	font-size: 16px;
	padding-bottom: 8px;
	letter-spacing: .1em;
}
 .in_head .detail .detail_inner p.name {
	font-size: 25px;
	padding-bottom: 10px;
	letter-spacing: .1em;
}
 .in_head .detail .detail_inner p.name span {
	font-size: 16px;
	padding-left: 15px;
	letter-spacing: 0;
}
 .in_head .detail .detail_inner p.year {
	font-size: 14px;
}

@media screen and (max-width: 640px) {
 .in_head .detail .detail_inner {
	padding: 3px 15px 3px 15px;
}
 .in_head .detail .detail_inner p.first {
	font-size: 15px;
	padding-bottom: 20px;
}
 .in_head .detail .detail_inner p.title {
	font-size: 18px;
	padding-bottom: 20px;
}
 .in_head .detail .detail_inner p.belong {
	font-size: 13px;
	padding-bottom: 8px;
}
 .in_head .detail .detail_inner p.name {
	font-size: 21px;
	padding-bottom: 5px;
	letter-spacing: .1em;
}
 .in_head .detail .detail_inner p.name span {
	font-size: 12px;
	padding-left: 10px;
}
 .in_head .detail .detail_inner p.year {
	font-size: 12px;
}
}


.innerBox{
	margin: 0 0 25px;
}
.wrap-content .innerBox h3{
	font-size: 18px;
	text-align: left;
	margin: 0 0 10px;
	color: #EA6C00;
}


/* ==========================================================================
    renobation
   ========================================================================== */
.renovation .wrap-content .inner,.test-renovation .wrap-content .inner{
}
.mincyo{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	font-size: 1.4em!important;
}
.wrap-text-re{
	margin: 0 auto 20px;
	text-align: center;
}
.wrap-img-re{
	width: 80%;
	margin: 0 auto 30px;
	text-align: center;
}
.renovation_menu{
	overflow: hidden;
	margin: 0 0 30px;
}
.renovation_menu li{
	float: left;
	width: 49%;
	margin: 0 2% 10px 0;
}
.renovation_menu li:nth-child(even){
	margin: 0 0 10px 0;
}
.renoWrap section h4{
	color: #ff8029;
	border-bottom: 1px solid #ff8029;
	margin: 0 0 25px;
	padding: 0 0 10px;
}
.renoWrap section .list_information h4{
	color: #000000;
	border-bottom: none;
	margin: 0 0 10px;
	padding: 0;
}
.renoWrap01{
	overflow: hidden;
	margin: 0 0 30px;
}
.renoWrap01 .imgArea{
}
.renoWrap01 .textArea{
	line-height: 1.7em;
}
.renoWrap01 .textArea h5{
	font-weight: bold;
	margin: 10px 0 10px;
}
.renoWrap01 .textArea p{
	margin: 0 0 20px;
}
.exampleWrap01 li{
	margin: 0 0 35px;
}
.exampleWrap02{
	overflow: hidden;
	margin: 0 0 40px;
}
.exampleWrap02 li{
	overflow: hidden;
	box-sizing: border-box;
	float: left;
	margin-bottom: 20px;
    border: 1px solid #bfbfbf;
}
.exampleWrap02 li .imgArea{
	width: 35%;
	float: left;
}
.exampleWrap02 li .textArea{
	width: 65%;
	float: right;
	box-sizing: border-box;
	padding: 0 0 0 10px;
}
.exampleWrap02 li .textArea h5{
	margin: 0 0 5px;
	font-size: .9em;
}
.exampleWrap02 li .textArea p{
	font-size: .8em;
	line-height: 1.5em;
}
.exampleWrap02 li:nth-child(even){
	float: right;
}
.exampleWrap02 li:last-child{
	border: none;
	background: #fff2e9;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	width: 100%;
}
.exampleWrap02 li:last-child p{
	padding: 30px 0 30px;
}
.exampleWrap02 li:last-child a{

}
.exampleWrap02 li:last-child a img{
	width: 300px;
	padding-bottom: 30px;
}
.renoWrap #sec_02 h5,.renoWrap #sec_03 h5{
	font-weight: bold;
	margin: 0 0 10px;
}
.renoWrap02{
	margin: 30px 0;
	overflow: hidden;
}
.renoWrap02 li{
	overflow: hidden;
	margin: 0 0 20px;
}
.renoWrap02 li .imgArea{
}
.renoWrap02 li .textArea{
	margin-top: 10px;
}
.renoWrap #sec_03{
	margin: 0 auto;
}
.renoWrap03{
	margin: 30px 0;
	overflow: hidden;
}
.renoWrap03 .tab{overflow:hidden;}
.renoWrap03 .tab li{background:#eeeeee;
	text-align: center;
	font-weight: bold;
	padding:15px 0;
	width: 25%; box-sizing: border-box; float:left; transition: .8s; border-bottom: 2px solid #e5e5e5;font-size: .8em;}
.renoWrap03 .tab li.select{background:#ff8029; color: #fff;}
.renoWrap03 .content li{padding:20px; opacity: 1;
      animation-duration: 0.8s;
      animation-name: fade-in;}
.renoWrap03 .hide {display:none;opacity: 0;}
@keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }
    }
.renoWrap04{
	overflow: hidden;
	margin: 0 0 20px;
}
.renoWrap04 .imgArea{
}
.renoWrap04 .textArea{
	line-height: 1.7em;
}
.renoWrap04 .textArea h5{
	font-weight: bold;
	margin: 20px 0 10px;
}
.renoWrap04 .textArea p.text01{
	margin: 0 0 10px;
}
.renoWrap04 .textArea p.priceText{
	font-size: 30px;
	color: #13b5b1;
	margin: 0 0 10px;
}
.renoUl{
	overflow: hidden;
}
.renoUl li{
	float: left;
	width: 49%;
	margin-bottom: 15px;
	text-align: center;
	color: #fff;
	padding: 13px 0;
	box-sizing: border-box;
}
.renoUl li span{
	display: block;
	font-size: .8em;
}
.renoUl li:nth-child(2n){
	float: right;
}
.renoUl li.co01{
	background: #3391ba;
}
.renoUl li.co02{
	background: #ff9954;
}
.renoUl li.co03{
	background: #798e51;
}
.renoUl li.co04{
	background: #798e51;
}
.renoUl li.co05{
	background: #b8a996;
}
.renoUl li.co06{
	background: #be7db4;
}
.renovation .area_section_othermenu,.test-renovation .area_section_othermenu{
	padding-top: 30px;
	border: none;
	margin-bottom: 0;
}
.renovation .area_section_othermenu a,.test-renovation .area_section_othermenu a{
	margin: 0 auto 30px;
}

/* ==========================================================================
    add
   ========================================================================== */
.wpcf7 .btn_detail {
    text-align: center;
    margin: 35px auto 0;
}
.wpcf7 .table_type_02 td label {
    padding: 0;
}
.wrap-tel {
    line-height: 3em;
}
.wrap-contact p {
    line-height: 1.7em;
}
.single .construction_detail .photobox_1 {
    margin: 0 0 10px 0;
}
.single .construction_detail .photobox_2 {
    margin: 0 0 10px 0;
}
.single .construction_detail .photobox_2 .left {
    float: left;
    width: 70%;
    box-sizing: border-box;
    border-right: 2px solid #FFF;
}
.single .construction_detail .photobox_2 .right  {
    float: left;
    width: 30%;
}
.single .construction_detail .photobox_3 {
    margin: 0 0 10px 0;
}
.single .construction_detail .photobox_3 .left {
    float: left;
    width: 30%;
    box-sizing: border-box;
    border-right: 2px solid #FFF;
}
.single .construction_detail .photobox_3 .right {
    float: left;
    width: 70%;
}
.construction_detail .wrap-img {
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
}
.construction_detail .wrap-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
/* ==========================================================================
    construction
   ========================================================================== */
.menu {
    margin: 0 0 50px 0;
}
.wrap-content .menu .inner {
    width: 95%;
    margin: 0 auto 50px;
}
.menu ul {
    width: 100%;
    /* display: table; */
}
.menu li {
    /* float: left; */
    /* display: table-cell; */
    vertical-align: middle;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    text-align: center;
}
.menu li.active {
    background:#DFDFDF;
}
.menu li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 0.8em;
}
.menu li.line2 a {
    display: block;
    height: 40px;
    line-height: 1.2em;
    padding: 5px 0;
}
.menu li a:hover {
    opacity: 0.8;
}
/* ==========================================================================
    project
   ========================================================================== */
.wrap-machirire {

}
.wrap-machirire .box {
    margin:0 0 20px 0;
}
.wrap-machirire .box .left {
    float: left;
    width: 100%;
    margin:0 0 0 0;
    position: relative;
}
.wrap-machirire .box .left .wrap-img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
}
.wrap-machirire .box .left .wrap-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.wrap-machirire .box .left .area {
    position: absolute;
    top: 0;
    right: 0;
    width: 7em;
    padding: 0.25rem 0;
    background: #e4e4e4;
    text-align: center;
    z-index: 10;
}
.wrap-machirire .box .right {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 5px 10px;
}
.wrap-machirire .box .right .date {
    font-size: 0.8em;
}
.wrap-machirire .box .right .ttl {
    font-size: 1.2em;
    font-weight: bold;
}
.wrap-machirire .box .right .txt p{
	padding: 10px 0;
}
.wrap-machirire .box .right .txt img{
	width: 100%;
	height: auto;
}
.wrap-machirire .box .right .txt > div{
	width: 100%!important;
}
.formWrap a{
	text-decoration: underline;
}

/*181204*/
.bannerArea{
	padding: 30px 0 0;
}
.bannerArea ul li{
	text-align: center;
	margin: 0 0 15px;
}
.wrap-bnr_azride {
    text-align: center;
    margin: 25px 0;
}



/* 20190627 */
.approach_block {
	width:95%;
	margin:0 auto;
}
.approach_block img {
	width:100%;
	height:auto;
}
/* 20190627 */



/* 20190920 */
.new_banner {
	width:100%;
    margin:30px 0 0 0;
}
.new_banner_img {
	width:100%;
    margin:0 0 30px 0;
}
.new_banner a {
	display:block;
	width:100%;
}
/* 20190920 */






.estate .wrap-content  #sec_01 h3.img span::before {
    top:5px;
    left:-50px;
}
.estate .wrap-content  #sec_01 h3.img span::after {
    top:5px;
    right:-40px;
}

/* ==========================================================================
    movie
   ========================================================================== */
.movie.maincontents {
	background: #f88036;
	color: #fff;
	margin-bottom: 0;
	padding-bottom: 4rem;
}
.movie .wrap-content h2 {
	border-bottom: 1px solid #fff;
	font-size: 18px;
	margin-top: 40px;
	padding-bottom: 0.3em;
}
.movie .movie_wrap {
}
.movie .movie_cnt {
	width: 100%;
}
.movie .movie_cnt:nth-of-type(2) {
	margin-top: 70px;
}
.movie .movie_cnt .iframe_wrap {
	width: 100%;
	padding-top: 56.3%;
	position: relative;
}
.movie .movie_cnt .iframe_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.movie .movie_cnt .movie_info {
	margin-top: 30px;
}
.movie .movie_cnt .movie_info .date,
.movie .movie_cnt .movie_info .title {
	font-size: 16px;
	font-weight: 600;
}
.movie .movie_cnt .movie_info .title {
	margin-top: 0.8em;
}
.movie .movie_cnt .movie_info .text {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #fff;
}
.movie .wrap-btn {
	margin-top: 70px;
}
.movie .btn_detail {
	box-shadow: none;
	margin: 0 auto;
}
.movie .wrap-btn .btn_detail.back::after {
	right: 10px;
	left: auto;
}
