/* Scss Document */
.area_mv img {
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .area_mv {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  *[class*="area_section"] {
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
}

@media print, screen and (min-width: 768px) {
  *[class*="area_section"] {
    margin-bottom: 8rem;
  }
}

.tit_news {
  font-weight: bold;
}

.list_news {
  display: flex;
  flex-wrap: wrap;
}

.list_news li {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.list_news a {
  display: block;
  /* height: 100%; */
}
.list_news a .wrap-img {
    overflow: hidden;
    height: 116px;
    position: relative;
}
.list_news a img {
    /* position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto; */
    position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: auto;
max-height: 100%;
	max-width: 100%;
}

.list_news .categoryname {
  /*position: absolute;
  top: 0;
  right: 0;
  width: 9em;*/
  padding: 0.25rem 5px;
  background: #e4e4e4;
  text-align: center;
	margin-bottom: 8px;
	font-size: .9em;
}

.list_news .date {
  margin: 5px 0 2px;
}

.btn_all {
  display: block;
  max-width: 305px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #ff8029;
  padding: 0.5rem 0;
  border-radius: 10px;
}

.btn_all img {
  vertical-align: text-bottom;
}

@media screen and (max-width: 767px) {
  .list_news {
    justify-content: space-between;
  }
  .list_news li {
    width: 48.5%;
  }
  .list_news li img {
    /* width: 100%; */
  }
}

@media print, screen and (min-width: 768px) {
  .list_news {
    margin-bottom: 2rem;
  }
  .list_news li {
    width: 220px;
  }
  .list_news a:hover {
    background: #e4e4e4;
  }
  .tit_news {
    font-size: 1.175rem;
  }
  .tit_news::before {
    content: url(../images/top/tit_new.svg);
    margin-right: 1rem;
    vertical-align: middle;
  }
  .btn_all:hover {
    background: #ffeadc;
  }
}

@media print, screen and (min-width: 768px) and (max-width: 960px) {
  .list_news {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .list_news li:nth-of-type(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 961px) {
  .list_news li:not(:nth-of-type(4n)) {
    margin-right: calc(40px / 3);
  }
}

.btn_detail {
  position: relative;
  display: block;
  width: 100%;
  max-width: 305px;
  background: #FFF;
  padding: 0.675rem 0;
  box-shadow: 0 4px 12px rgba(158, 158, 159, 0.8);
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.btn_detail::after {
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  background: #ff8029 url(../images/arrow_1.svg) no-repeat 8px center/auto 20px;
}

@media screen and (max-width: 767px) {
  .btn_detail {
    font-size: 0.875rem;
  }
}

@media print, screen and (min-width: 768px) {
  .btn_detail:hover {
    color: #ff8029;
  }
}

@media print, screen and (min-width: 768px) {
  .area_service_detail .box_detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .area_service_detail .box_detail > img {
    width: 50%;
    max-width: 452px;
    align-self: flex-start;
  }
  .area_service_detail .box_detail .box_inner {
    width: 46%;
  }
  .area_service_detail .box_detail .img_pr {
    top: -50px;
  }
}

.area_section_needs .img_needs {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .lead_needs {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
  }
  .area_needs_detail {
    position: relative;
    border: 3px solid #ff8029;
    border-radius: 10px;
  }
  .area_needs_detail::before, .area_needs_detail::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .area_needs_detail::before {
    top: -30px;
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 11px 30px 11px;
    border-color: transparent transparent #ff8029 transparent;
  }
  .area_needs_detail::after {
    top: -22px;
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 8px 23px 8px;
    border-color: transparent transparent #FFF transparent;
  }
  .list_needs {
    position: relative;
    z-index: 5;
    padding: 1.5rem 1rem;
  }
  .list_needs li {
    counter-increment: needs;
  }
  .list_needs li:nth-of-type(n+2) {
    margin-top: 1rem;
  }
  .list_needs p {
    font-size: 0.875rem;
  }
  .tit_needs {
    margin-bottom: 0.5rem;
    font-size: 1.175rem;
    font-weight: bold;
  }
  .tit_needs::before {
    display: inline-block;
    content: counter(needs);
    background: #ff8029;
    color: #FFF;
    width: 25px;
    height: 25px;
    margin-right: 0.75rem;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    font-weight: normal;
  }
  .tit_needs::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 15px;
    margin-left: 0.75rem;
    background: url(../images/arrow_4.svg) no-repeat center center/contain;
  }
}

@media print, screen and (min-width: 768px) {
  .area_section_needs {
    position: relative;
  }
  .lead_needs {
    width: 90%;
    max-width: 869px;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
  }
  .area_needs_detail {
    position: relative;
    z-index: 4;
  }
  .list_needs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }
  .list_needs li {
    position: absolute;
  }
  .list_needs .link_realestate {
    width: 20.54688%;
    height: 9.09091%;
    /* top: 16.06061%;
    left: 15.23438%; */
    top: 19.06061%;
    left: 22.23438%;
  }
  .list_needs .link_exterior {
    /* width: 21.25%; */
    width: 18.04688%;
    height: 9.09091%;
    /* top: 18.93939%;
    left: 62.89063%; */
    top: 75.93939%;
    left: 66.89063%;
    width: 18.04688%;
  }
  .list_needs .link_garden {
    width: 18.04688%;
    height: 13.93939%;
    /* top: 43.93939%;
    left: 17.34375%; */
    top: 73.93939%;
    left: 45.34375%;
  }
  .list_needs .link_interior {
    width: 18.20313%;
    height: 14.39394%;
    /* top: 81.81818%;
    left: 15.54687%; */
    top: 72.81818%;
    left: 7.5%;
  }
  .list_needs .link_parking {
    width: 18.07813%;
    height: 13.93939%;
    /* top: 72.42424%;
    left: 42.26563%; */
    top: 44.42424%;
    left: 15.26563%;
  }
  .list_needs .link_maintenance {
    width: 18.51563%;
    height: 15.45455%;
    /* top: 59.69697%;
    left: 65.46875%; */
    top: 66.19697%;
    left: 24.46875%;
  }
  .list_needs .link_renovation {
    width: 20.25%;
    height: 9.09091%;
    top: 34.19697%;
    left: 65.46875%;
  }

  .list_needs img {
    width: 100%;
    transition: all ease .3s;
  }
  .list_needs img:hover {
    opacity: 0.8;
  }
}

.area_section_service .lead img {
  width: 100%;
}

.area_section_service .service_lead {
  font-weight: bold;
  position: relative;
}

.area_section_service .tit_detail {
  letter-spacing: 0.1em;
  font-weight: bold;
}

.area_section_service .list_detail {
  font-weight: bold;
}

.area_section_service .list_detail li {
  margin-left: 1em;
  list-style: disc;
}

.area_section_service .list_btn a {
  display: block;
  width: 100%;
  max-width: 305px;
  padding: 0.5rem 0;
  color: #FFF;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.area_section_service .list_btn a::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 0.75rem;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: auto 20px;
  border-radius: 100%;
  vertical-align: middle;
}

.tit_service {
  font-weight: bold;
}

.tit_service::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 0.75rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.realestate_detail .tit_service::before {
  background-image: url(../images/icon_realestate_2.svg);
}

.realestate_detail .tit_detail {
  color: #005baa;
}

.realestate_detail .list_btn a {
  background: #005baa;
}

.realestate_detail .list_btn a::before {
  background-image: url(../images/arrow_2.svg);
}

.realestate_detail .list_btn a span {
  display: inline-block;
  width: 5.5em;
  text-align: left;
}

.build_detail .tit_service::before {
  background-image: url(../images/icon_build_2.svg);
}

.build_detail .tit_detail {
  color: #e40012;
}

.build_detail .list_btn a {
  background: #e40012;
}

.build_detail .list_btn a::before {
  background-image: url(../images/arrow_3.svg);
}

.garden_detail .tit_service::before {
  background-image: url(../images/icon_garden_2.svg);
}

.garden_detail .tit_detail {
  color: #009744;
}

.garden_detail .list_btn a {
  background: #009744;
}

.garden_detail .list_btn a::before {
  background-image: url(../images/arrow_5.svg);
}

.insuarance_detail .tit_service::before {
  background-image: url(../images/icon_insuarance_1.svg);
}

@media screen and (max-width: 767px) {
  .area_section_service {
    margin-bottom: 8rem;
  }
  .area_section_service .area_service_detail {
    margin-bottom: 3.5rem;
  }
  .area_section_service .box_detail::before {
    display: block;
    content: "";
    width: 100%;
    height: 47.656vw;
    margin-bottom: 1.75rem;
  }
  .area_section_service .box_inner {
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
  }
  .area_section_service .list_detail {
    font-size: 0.875rem;
  }
  .area_section_service .list_btn li {
    text-align: center;
  }
  .area_section_service .list_btn a {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  .tit_service {
    max-width: 305px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .realestate_detail .box_detail::before {
    background: url(../images/top/img_realestate_sp.jpg) no-repeat 0 0/cover;
  }
  .realestate_detail .stit {
    position: relative;
    color: #FFF;
  }
  .realestate_detail .stit::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 305px;
    height: 31px;
  }
  .realestate_detail .list01:first-of-type::after {
    background: url(../images/top/tit_kaitai_sp.svg) no-repeat 0 0/contain;
  }
  .realestate_detail .list02:last-of-type::after {
    background: url(../images/top/tit_karitai_sp.svg) no-repeat 0 0/contain;
  }
  .realestate_detail .list_btn > li:first-of-type {
    margin-bottom: 2rem;
  }
  .realestate_detail .list_btn ul {
    padding-top: 1.75rem;
  }
  .build_detail .box_detail::before {
    background: url(../images/top/img_build_sp.jpg) no-repeat 0 0/cover;
  }
  .build_detail .list_btn a span {
    display: inline-block;
    width: 6.5em;
    text-align: left;
  }
  .garden_detail .box_detail::before {
    background: url(../images/top/img_garden_sp.jpg) no-repeat 0 0/cover;
  }
  .garden_detail .list_btn a span {
    display: inline-block;
    width: 6.5em;
    text-align: left;
  }
  .insuarance_detail .box_detail::before {
    background: url(../images/top/img_insuarance_sp.jpg) no-repeat 0 0/cover;
  }
  .insuarance_detail .box_inner {
    max-width: 100%;
  }
}

@media print, screen and (min-width: 768px) {
  .area_section_service .area_service_detail {
    margin-bottom: 4rem;
  }
  .area_section_service .box_detail {
    margin-bottom: 2rem;
  }
  .area_section_service .box_inner {
    align-self: flex-start;
  }
  .area_section_service .service_lead {
    font-size: 1.175rem;
  }
  .area_section_service .service_lead::after {
    display: block;
    content: "";
    position: absolute;
    top: -40px;
  }
  .area_section_service .tit_detail {
    font-size: 1.175rem;
  }
  .area_section_service .list_btn {
    width: 100%;
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }
  .area_section_service .list_btn > li {
    width: 285px;
  }
  .tit_service {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
  }
  .realestate_detail .service_lead {
    padding-right: 130px;
  }
  .realestate_detail .service_lead::after {
    right: 30px;
    width: 71px;
    height: 123px;
    background: url(../images/top/img_realestate.png) no-repeat 0 0/contain;
  }
  .realestate_detail .stit {
    margin-bottom: 0.75rem;
    font-weight: bold;
  }
  .realestate_detail .stit span {
    font-size: 1.5rem;
  }
  .realestate_detail .list_btn ul li {
    margin-bottom: 0.75rem;
  }
  .realestate_detail .list_btn a:hover {
    background-color: #0076dd;
  }
  .build_detail .service_lead {
    padding-right: 120px;
  }
  .build_detail .service_lead::after {
    right: 30px;
    width: 64px;
    height: 115px;
    /* background: url(../images/top/img_build.svg) no-repeat 0 0/contain; */
    background: url(../images/top/img_build.png) no-repeat 0 0/contain;
  }
  .build_detail .list_detail {
    display: columns;
    column-count: 2;
  }
  .build_detail .list_detail li {
    margin-left: 1rem;
  }
  .build_detail .list_btn a:hover {
    background-color: #ff182a;
  }
  .garden_detail .service_lead {
    padding-right: 160px;
  }
  .garden_detail .service_lead::after {
    right: 10px;
    width: 117px;
    height: 131px;
    background: url(../images/top/img_garden.png) no-repeat 0 0/contain;
  }
  .garden_detail .list_btn a:hover {
    background-color: #00ca5b;
  }
}

.area_section_othermenu .tit_other, .area_section_othermenu .lead_other {
  font-weight: bold;
}

.area_section_othermenu p:not([class]) {
  margin-bottom: 1.5rem;
  line-height: 1.7;
  font-size: 0.875rem;
}

.area_section_othermenu .img_pr {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .area_section_othermenu .area_service_detail {
    margin-bottom: 3rem;
  }
  .area_section_othermenu .box_detail {
    position: relative;
  }
  .area_section_othermenu .box_detail > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  .area_section_othermenu .tit_other {
    margin-bottom: 0.25rem;
    font-size: 1.175rem;
  }
  .area_section_othermenu .lead_other {
    display: none;
  }
  .area_section_othermenu .btn_detail {
    margin-right: auto;
    margin-left: auto;
  }
  .img_pr {
    width: 90%;
    top: -15vw;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media print, screen and (min-width: 768px) {
  .area_section_othermenu {
    padding-top: 6rem;
    border-top: 1px solid #231815;
	  margin-bottom: 0;
  }
  .area_section_othermenu .area_service_detail {
    margin-bottom: 3.5rem;
  }
  .area_section_othermenu .box_detail .box_inner {
    align-self: center;
  }
  .area_section_othermenu .box_detail .img_pr {
    top: -50px;
  }
  .area_section_othermenu .about_detail .box_inner {
    position: relative;
    padding-top: 3rem;
  }
  .area_section_othermenu .tit_other {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }
  .lead_other {
    margin-bottom: 0.75rem;
  }
}

.list_information * {
}

.list_information li {
  text-align: center;
}

.list_information p {
  line-height: 1.7;
	height: 180px;
	font-size: .9em;
}
.list_information p span.big01{
	font-size: 1.4em;
	font-weight: bold;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
}
.list_information p span.big02{
	font-weight: bold;
	font-size: 1.1em;
}
.list_information .btn_detail {
  margin-right: auto;
  margin-left: auto;
}

.lead_information {
  margin-bottom: 1.175rem;
}

@media screen and (max-width: 767px) {
  .tit_information {
    position: relative;
    margin-bottom: 2rem;
    font-weight: bold;
    line-height: 2.2;
    font-size: 1.175rem;
  }
  .tit_information::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: #231815;
  }
  .list_information li:first-of-type {
    margin-bottom: 3rem;
  }
  .list_information img {
    width: 145px;
  }
  .list_information p {
    font-size: 0.8rem;
	  height: inherit;
  }
  .list_information .btn_detail {
    margin-top: 1.5rem;
  }
  .lead_information {
    font-size: 1.175rem;
  }
}

@media print, screen and (min-width: 768px) {
  .tit_information {
    margin-bottom: 5rem;
  }
  .list_information {
    display: flex;
    justify-content: space-between;
  }
  .list_information li {
    width: 50%;
   		text-align:justify;
  }
  .list_information li img {
    display:block;
    width:250px;
    margin:0 auto;
    margin-bottom:30px;
  }
   .list_information > li:nth-child(1) {
    margin:0 50px 0 0;
  }
  .list_information p {
	  height: 180px;
  }
	.list_information h4{
		font-weight: bold;
		text-align:center;
	}
  .list_information .btn_detail {
    margin-top:40px;
  }
  .lead_information {
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=top.css.map */





@media screen and (max-width: 767px) {
.list_information li {
    padding: 0 25px 0 25px;
    text-align:justify;
}
.list_information img {
    display:block;
    width:220px;
    margin:0 auto;
    margin-bottom:30px;
}
.list_information h4 {
    text-align:center;
}



}